/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

h1 {
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
  border-bottom: 5px dotted white;
}

h3 {
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
}

h6 {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 17px;
}

.tag {
  padding: 5px;
  background-color: black;
  font-family: 'DotGothic16', sans-serif;
  color: rgb(128, 179, 255);
}

#newUser {
  width: 54%;
}

.logcol{
  font-family: 'Indie Flower', cursive;
}

nav a {
  position: fixed;
  right: -25px;
  padding: 10px;
  width: 50px;
  text-decoration: none;
  font-size: 9px;
  color: silver;
  border-radius: 5px 0px 0px 5px;
  font-family: 'Chewy' cursive;
}

nav a:hover {
  transform: translateX(-27px);
  transition: 1.5s;
}

#home {
  top: 20px;
  background-color: #2126F3;
}

#animes {
  top: 80px;
  background-color: #ED335F;
}

#art {
  top: 140px;
  background-color: #2126F3;
}

#watchList {
  top: 200px;
  background-color: #ED335F;
}

.run {
  position: relative;
  width: 10%;
  left: 290px;
  transition: 0.5s;
  top: 20px;
}

.run:hover{
  transform: translateX(-110vw);
  transition: 7s;
}

img {
  width: 100%;
}

.box {
  position: relative;
}

.animeSlides {
  display: none;
  align-content: center;
}

#aotImage, #bcImage, #bImage, #jkImage, #mhaImage, #opImage {
  width: 100%;
}

#aotimg, #bcimg, #bimg, #jkimg, #mhaimg, #opimg {
  width: 100%;
}

#bcimg, #bimg, #jkimg {
  height: 27px;
}

.cursor {
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 7px;
  margin-top: -80px;
  color: white;
  font-weight: bolder;
  font-size: 12px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 12%;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.decoyimg {
  width: 100%;
  padding: 10px;
  margin: 10px auto 20px;
  display: block;
}

.numtxt {
  color: #ff5757;
  font-size: 12px;
  padding: 8px 4px;
  position: absolute;
}

.description-box {
  text-align: center;
  background-color: #ff5757;
  padding: 4px 8px;
  color: white;
  font-family: 'Indie Flower', cursive;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.55%;
}
.op{
  opacity: 0.6;
}

.active, .op:hover {
  opacity: 1;
}

main section {
  padding: 1em;
  border-bottom: 5px double white;
}

body {
  background: rgb(128, 179, 255);
  padding: 20px;
  margin: auto;
  overflow-x: hidden;
}

.cardblog {
  background-color: rgb(128, 179, 255);
  padding: 12px;
  margin-top: 20px;
  font-family: 'Indie Flower', cursive;
}

.blog {
  padding: 30px;
  font-size: 12px;
  text-align: center;
  background: rgb(0, 92, 230);
}

.blogrow:after {
  content: "";
  display: table;
  clear: both;
}

#mySearchID, button {
  margin: 0 auto;
  display: block;
}

button .fas{
  width: 140px;
}
form input:invalid {
	border-width: 1.25px 1.25px 1.25px 2.5px;
	border-style: double;
	border-left-color: navy;
}

form input:valid {
  border-width: 0.25px 0.25px 0.25px 3px;
  border-left-style: ridge;
  border-color: teal;
}

form h2{
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2em;
  text-align: center;
  padding: 2em 0;
}

/* TABLET STYLES */

@media screen and (min-width: 500px) {


  /* applies to screens wider than 499px */

.run {
  display: none;
}

.logcol{
  float: left;
  width: 40%;
  padding-right: 50px;
  padding-left: 10px;
}

.loginrow:after {
  content: "";
  display: table;
  clear: both;
}

form {
  display: grid;
  grid-row-gap: 0.25em;
  grid-column-gap: 0.25em;
}

form input[type="submit"] {
  justify-self: end;
}

form:invalid {
  border-top: 5px wavy navy;

}

form:valid {
  border-top: 5px double teal;
}


#sideNav a {
  position: inherit;
  display: inline-flex;
  color: white;
  transform: none;
  background-color: rgb(0, 92, 230);
  text-align: center;
  padding: 22px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Indie Flower', cursive;
  border-radius: 85px;
  margin: 15px 20px 0px 60px;
}

#sideNav a:hover {
  background-color: dodgerblue;
  color: white;
}

#sideNav a:active {
  background-color: #b300b3;
  color: white;
}


#bcimg, #bimg, #jkimg, #mhaimg {
  height: 65px;
}

main section {
  padding: 1em;
  border-bottom: 5px double white;
}

.description-box {
  background-color: rgb(0, 92, 230);
}

body {
  background: rgb(128, 179, 255);
}

.cursor {
  cursor: pointer;
}

.prev, .next {
  color: white;
  font-size: 18px;
}

.next {
  right: 2%;
  border-radius: 3px 0 0 3px;
}

.cardblog {
  background-color: rgb(128, 179, 255);
  padding: 40px;
  margin-top: 20px;
  font-family: 'Indie Flower', cursive;
}

.blog {
  padding: 30px;
  font-size: 20px;
  text-align: center;
  background: rgb(0, 92, 230);
}


}

/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

.mySearch {
  justify-content: space-around;
  z-index: 1;
  padding: 5px;
  margin-left: 12px;
  font-size: 12px;
  top: 100;
  order: 1;
}

nav {
  text-align: center;
}

h6 {
  font-size: 30px;
}

.tag{
  font-size: 25px;
}

nav a {
  display: inline-block;
  color: white;
  background-color: #ED335F;
  text-align:center;
  padding: 25px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 85px;
  margin: 0px 70px 0px 80px;
  z-index: 1;
}

nav a:hover {
  background-color: dodgerblue;
  color: white;
  transform: none;
}

nav a:active {
  background-color: #b300b3;
  color: white;
}


.description-box{
  background-color: #ED335F;
}

body {
  background: #F9858B;
}

#bcimg, #bimg, #jkimg, #mhaimg, #opimg, #aotimg {
  height: 100%;
  width: 100%;
}

.run {
  display: none;
}

.leftcolumn {
  float: left;
  width:45%;
}
.rightcolumn {
  float: right;
  width: 45%;
  padding-left: 20px;
}

.decoyimg {
  width: 100%;
  padding: 10px;
  margin: 10px auto 20px;
  display: block;
}

.blog{
  background-color: #ED335F;
}

.cardblog {
  background-color: #F9858B;
  padding: 40px;
  margin-top: 20px;
  color: #761137;
}

.leftblog {
  padding-bottom: 100px;
}

.prev, .next {
  color: white;
  font-size: 20px;
}

.next {
  right: 1.65%;
  border-radius: 3px 0 0 3px;
}
